<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{{ "/resources/jquery-ui-1.11.3/jquery-ui.min.js" | relative_url }}" type="text/javascript"></script>
<script src={{ "/resources/snap/dist/snap.svg-min.js" | relative_url }}></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css">
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
<script src="{{ "/assets/js/script.js" | relative_url }}" type="text/javascript"></script>
<link rel="icon" type="image/png" href="{{ "/assets/images/favicon.png" | relative_url }}">