<header>
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
  <!-- <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a> -->
  <div class="wrapper">
    <div class="nav-burger">
      <svg class="logo-animation" viewbox="0 0 300 300">
        <path class="capital" d="M52.9,299.9V11.6h155.5c0,0,39,2.3,48.5,41.1c8.8,35.9-18.1,51.3-18.1,51.3" pathLength="1"></path>
        <line class="lower stem" x1="89.2" y1="299.8" x2="89.2" y2="49.9" pathLength="1"></line>
        <path class="lower bowl" d="M173.2,288.5c-45.1,0-84-38.9-84-83.6s38.4-83.4,84-83.4s83.2,37.7,83.2,83.5S220,288.5,173.2,288.5" pathLength="1"></path>
      </svg>
    </div>
  </div>
  <nav class="nav-vertical">
    <div class="svg-arrows">
      <svg class="nav-arrows" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 300 300">
        <polyline class="capital arrow" points="47.1,0.1 47.1,288.5 250.6,288.5 167,204.9 " fill="none" pathLength="1" />
        <polyline class="lower stem arrow" points="83.4,0.1 83.4,288.5 250.6,288.5 167,204.9 " fill="none" pathLength="1" />
        <polyline class="lower bowl arrow" points="167,0.1 167,288.5 250.6,288.5 208.8,246.7 " fill="none" pathLength="1" />
      </svg>
    </div>
    <ul class="nav-items">
      <li><a href="{{ "/code" | relative_url }}"><i class="fa fa-code"></i>Code</a></li>
      <li><a href="{{ "/contact" | relative_url }}"><i class="fa fa-cog"></i>Configuration</a></li>
    </ul>
  </nav>
</header>