
// -----------------------------------------------------------------------------
// =Variables
// -----------------------------------------------------------------------------
$area-featured: false;
$area-fixed-header: false;
$area-jua-inline: true;
$area-nav-left: false;
$area-back-to-top: false;
$area-video-container: false;
$area-form-labels: false;
$area-iframe-site: false;
$area-social-colors: false;
$area-svg-icons: true;
$area-hide-search-icon: true;
$max-spacing: 3; // Padding and margin spacing

// Flex order
// -----------------------------------------------------------------------------
$area-flex-order: false;
$max-pos: 5;

// CSS flex-based grid variables
// Import objects > _grid to use this
// -----------------------------------------------------------------------------
$max-columns: 4;
$column-gutter: 2%;

// Custom select arrows
// -----------------------------------------------------------------------------
$select-input-custom-arrow: true;
// angle-down-solid
$arrow-down: 'data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48dGl0bGU+YXJyb3ctZG93bjwvdGl0bGU+PHJlY3Qgd2lkdGg9IjQuOTUiIGhlaWdodD0iMTAiIGZpbGw9IiNmZmYiLz48cGF0aCBkPSJNMi4zMSw2LDEsNC42YS4yNC4yNCwwLDAsMSwwLS4zM0wxLjE4LDRhLjI0LjI0LDAsMCwxLC4zMywwbDEsMSwxLTFhLjI0LjI0LDAsMCwxLC4zMywwTDQsNC4yN0EuMjQuMjQsMCwwLDEsNCw0LjZMMi42NCw2YS4yNC4yNCwwLDAsMS0uMzMsMFoiIGZpbGw9IiM0NDQiLz48L3N2Zz4=';
// double-arrows up/down
$arrow-double: 'data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+';

// Set arrow style
$arrow-custom: $arrow-down;

// Root URL
// -----------------------------------------------------------------------------
$root-url: 'brettwbyron.github.io/';

// Colors
@import "color-base";

// Typography
// -----------------------------------------------------------------------------
$font-base: 20;
$font-base-px: ($font-base + px);
$font-size-base: $font-base/20;
$font-size-body: 20;
$font-sm: ($font-size-body - 2);
$font-size-button: $font-size-base;
$line-height-base: 1.375;
$font-sans-serif: $gilroy, Helvetica, Arial, sans-serif;
// $font-sans-serif: Arial, sans-serif;
$font-serif: Times, 'Times New Roman', serif;
$font-web: 'Avenir Next Regular'; // $font-web-bold: 'futura-pt-bold';
$font-web-bold: 'Avenir Next Bold'; // $font-web-bold: 'futura-pt-bold';
$font-web-cond-bold: 'Avenir Next Condensed Bold';
$font-mono: $input-mono;
$font-fa: FontAwesome;
$font-fa5: 'FontAwesome 5 Free';
$font-headings: $gilroy;
$font-body: $jura;
$font-btn: $font-sans-serif;

$h1: (60 / $font-size-body) + em;
$h1-m: (50 / $font-size-body) + em;
$h2: 45px;
$h2-m: (22 / $font-size-body) + em;
$h3: (20 / $font-size-body) + em;
$h3-m: (18 / $font-size-body) + em;
$h4: (17 / $font-size-body) + em;
$h4-m: (17 / $font-size-body) + em;
$h5: 1em;
$h6: (14 / $font-size-body) + em;
$p: (20 / $font-size-body) + em;
$p-m: (20 / $font-size-body) + em;

// Forms
// -----------------------------------------------------------------------------
$input-width: 300px; // Desktop
$input-min: 200px;
$input-max: 100%;
$input-height: 40px;
$input-focus-width: 3px; // Default: 5px
$input-focus-color: $color-outline-focus; // Default: $color-outline-focus

$input-font-size: (20 / $font-size-body) + em;

$form-color-border: lighten($color-black,75%);
$form-input-bkgd: $color-white;
// $form-input-bkgd-select: $color-white;
$form-input-spacing: 0.5em;
$form-border-width: 1px;
$form-border-radius: 0;
$form-padding: 0.4em;
$form-label-width: 200px;

// Transitions
// -----------------------------------------------------------------------------
$transition-fast: 0.2s;
$transition-normal: 0.3s;
$transition-slow: 0.5s;
$transition-easing: ease-in-out; // $transition-easing: ease;
// $transition-easing: linear;

// Buttons
// -----------------------------------------------------------------------------
$button-line-height: $line-height-base;
$border-radius: 4px;

// Box Shadow
// -----------------------------------------------------------------------------
$box-shadow: 0 12px 32px rgba($color-black,.15);

// Spacing
// -----------------------------------------------------------------------------
$spacing-0: 0;
$spacing-1: 1em;

// Browser width
// -----------------------------------------------------------------------------
$browser-max-sm: 768px;
$browser-max-md: 992px;
$browser-max-lg: 1170px;
$browser-max-width: 1170px;

// Screen breakpoints
// -----------------------------------------------------------------------------
$screen-sm: 640;
$screen-sm-px: $screen-sm + px;
$screen-sm-em: ($screen-sm / $font-base) + em;
$screen-md: 960;
$screen-md-px: $screen-md + px;
$screen-md-em: ($screen-md / $font-base) + em;
$screen-lg: 1200;
$screen-lg-px: $screen-lg + px;
$screen-lg-em: ($screen-lg / $font-base) + em;
$screen-xl: 2000;
$screen-xl-px: $screen-xl + px;
$screen-xl-em: ($screen-xl / $font-base) + em;

// Z-index
// -----------------------------------------------------------------------------
$z-modal: 1010;
$z-modal-bkgd: 1005;
$z-dropdown: 1000;
$z-nav: 500;
$z-slider-nav: 800;
