// -----------------------------------------------------------------------------
/*! =Spacing */
// -----------------------------------------------------------------------------
// Classname key
//   m = margin
//   p = padding
//   t = top
//   r = right
//   b = buttom
//   l = left
//   x = x-axis (left/right)
//   y = y-axis (top/bottom)
//   n = negative value

@function calcSpacing($num) {
    @return ($spacing-1 * $num);
}
// Margin
@for $i from 0 through $max-spacing {
    $props: ("margin": "m");

    @each $prop, $abbr in $props {
        .#{$abbr}#{$i} { #{$prop}: calcSpacing($i); }
        .#{$abbr}t#{$i} { #{$prop}-top: calcSpacing($i); }
        .#{$abbr}r#{$i} { #{$prop}-right: calcSpacing($i); }
        .#{$abbr}b#{$i} { #{$prop}-bottom: calcSpacing($i); }
        .#{$abbr}l#{$i} { #{$prop}-left: calcSpacing($i); }
        .#{$abbr}y#{$i} { #{$prop}-top: calcSpacing($i); #{$prop}-bottom: calcSpacing($i); }
        .#{$abbr}x#{$i} { #{$prop}-left: calcSpacing($i); #{$prop}-right: calcSpacing($i); }
    }
}

.m-5  { margin:        ($spacing-1 / 2) }
.mt-5 { margin-top:    ($spacing-1 / 2) }
.mr-5 { margin-right:  ($spacing-1 / 2) }
.mb-5 { margin-bottom: ($spacing-1 / 2) }
.ml-5 { margin-left:   ($spacing-1 / 2) }
.my-5 { margin-top:    ($spacing-1 / 2); margin-bottom: ($spacing-1 / 2) }
.mx-5 { margin-left:    ($spacing-1 / 2); margin-right: ($spacing-1 / 2) }

// .mxn-5 { margin-left: -($spacing-1 / 2); margin-right: -($spacing-1 / 2); }
// .mxn1 { margin-left: -$spacing-1; margin-right: -$spacing-1; }
// .mxn2 { margin-left: -$spacing-2; margin-right: -$spacing-2; }
// .mxn3 { margin-left: -$spacing-3; margin-right: -$spacing-3; }
// .mxn4 { margin-left: -$spacing-4; margin-right: -$spacing-4; }

.mx-auto { margin-left: auto; margin-right: auto; }
.ml-auto { margin-left: auto }
.mr-auto { margin-right: auto }

// END Margin

// Padding

@for $i from 0 through $max-spacing {
    $props: ("padding": "p");

    @each $prop, $abbr in $props {
        .#{$abbr}#{$i} { #{$prop}: calcSpacing($i); }
        .#{$abbr}t#{$i} { #{$prop}-top: calcSpacing($i); }
        .#{$abbr}r#{$i} { #{$prop}-right: calcSpacing($i); }
        .#{$abbr}b#{$i} { #{$prop}-bottom: calcSpacing($i); }
        .#{$abbr}l#{$i} { #{$prop}-left: calcSpacing($i); }
        .#{$abbr}y#{$i} { #{$prop}-top: calcSpacing($i); #{$prop}-bottom: calcSpacing($i); }
        .#{$abbr}x#{$i} { #{$prop}-left: calcSpacing($i); #{$prop}-right: calcSpacing($i); }
    }
}

.p-5  { padding:        ($spacing-1 / 2); }
.pt-5 { padding-top:    ($spacing-1 / 2); }
.pr-5 { padding-right:  ($spacing-1 / 2); }
.pb-5 { padding-bottom: ($spacing-1 / 2); }
.pl-5 { padding-left:   ($spacing-1 / 2); }
.py-5 { padding-top:    ($spacing-1 / 2); padding-bottom: ($spacing-1 / 2) }
.px-5 { padding-left:   ($spacing-1 / 2); padding-right:  ($spacing-1 / 2) }

// END Padding

// -----------------------------------------------------------------------------
// =Media Queries
// -----------------------------------------------------------------------------

// /*! max-width: #{$screen-md-px} */
// @media all and (min-width:$screen-md-em) {
//
// }
//
// /*! max-width: #{$screen-lg-px} */
// @media all and (min-width:$screen-lg-em) {
//
// }
//
// /*! min-width: #{$screen-lg-px} */
// @media all and (min-width: $screen-lg-em) {
//
// }
