// --------------------------------------------------------------------------
/*! =Base */
// --------------------------------------------------------------------------

// Universal Box Sizing with Inheritance
html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body,
html {
    @if $mobile==false and $area-iframe-site==false {
        height: 100%;
    }

    @if $mobile==true {
        height: 100vh;
    }

    font-family: $font-body;
    font-size: 100%;
    font-weight: 300;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    @if $mobile==false {
        @include flex;
        @include flex-col;
    }

    background-color: $color-white;
    color: $color-text;
    padding: 0;
    margin: 0;
    font-size: $font-size-base+em;
    line-height: $line-height-base;
    cursor: default;
}

.h2,
h1,
h2,
h3,
h4,
h5 {
    font-family: $font-headings;
    text-rendering: optimizeLegibility;
    margin: 0.25em 0;
    line-height: 1.3;
    color: $color-text;
    font-weight: bold;
}

h1 {
    @if $mobile==false {
        font-size: $h1;
    }

    // End Desktop
    @if $mobile==true {
        font-size: $h1-m;
    }

    // End Mobile
    // text-transform: uppercase;
}

.h2,
h2 {
    line-height: 1.5;

    // text-transform: uppercase;
    @if $mobile==false {
        font-size: $h2;
    }

    @if $mobile==true {
        font-size: $h2-m;

        &.jv-header {
            font-size: $h2;
            line-height: 1.2;
            // text-transform: uppercase;
        }
    }
}

h3 {
    @if $mobile==false {
        font-size: $h3;
    }

    @if $mobile==true {
        font-size: $h3-m;
    }

    // color: $color-accent;
    line-height: 1.3;
}

h4 {
    @if $mobile==false {
        font-size: $h4;
    }

    @if $mobile==true {
        font-size: $h4-m;
    }
}

h5 {
    font-size: $h5;
    text-transform: uppercase;
}

p {
    @if $mobile==false {
        font-size: ($p / $font-size-base) + em;
    }

    @if $mobile==true {
        font-size: ($p-m / $font-size-body) + em;
    }

    margin-bottom: 1.25em;
    line-height: $line-height-base;
}

main {
    flex: 1 0 auto;
}

// blockquote {
//     font-size: $h3;
//     font-weight: 200;
//     color: $color-primary;
//     margin: 0 0 10px;
// }
// cite {
//     color: $color-primary;
//     font-size: (18/$font-size-body + em);
// }

dl,
ol,
ul {
    color: $color-text;
}

// code,
// pre,
// samp {
//     font-family: $font-mono;
//     font-size: $h6;
// }

::selection {
    background: $color-primary;
    color: $color-white;
    text-shadow: none;
}

section {
    &:focus {
        outline: none;
    }

    // Alternating background colors
    // &:nth-of-type(1n+2) {
    //     padding: 3em 0;
    // }
    //
    // &:nth-of-type(odd) {
    //     background-color: $color-gray-light;
    // }
}

// :focus {
//     outline: -webkit-focus-ring-color auto 2px;
// }

/*! =General */
@if $mobile==false {
    .jv-page-content {
        padding: 0; // Add fixed header height to top padding
    }
}

// End Desktop

.jv-jobAlertContainer,
.jv-page-body {
    flex: 1 0 auto;
    padding: 0;
}

.jv-page-body {
    @if $mobile==true {
        font-size: 1em;
    }

    .jv-wrapper {
        background-color: transparent;
    }
}

.jv-page,
.jv-page-container {
    min-height: 100vh;
}

.jv-page {
    width: 100%;
}

.jv-wrapper {
    position: relative;
    width: 100%;
    max-height: 100%;
    max-width: $browser-max-width;
    margin: 0 auto;

    @if $mobile==false {
        padding: 0 15px;
    }

    @if $mobile==true {
        padding: 0 25px;
    }
}

// Contains header, page-body, footer
.jv-page-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}