header {
    height: 80px;
    width: 100vw;
    margin: 0;
    border: 1px solid $color-gray;
    background-color: $color-background-light;
    z-index: $z-nav;

    & .nav-burger {
        margin: 0;
        height: 80px;
        width: 80px;

        & svg {
            padding:10px;
        }
    }

    & nav {
        position: absolute;
        top: 79px;
        left: 0;
        width: 80px;
        height: 100vh;
        border: 1px solid $color-gray;
        border-top: 0;
        background-color: $color-background-light;
        z-index: $z-nav + 1;
    }
}