// -----------------------------------------------------------------------------
/*! =Links */
// -----------------------------------------------------------------------------
a {
    &,
    &:visited {
        color: $color-link;
        text-decoration: none;
    }

    &:focus,
    &:hover {
        color: $color-link--hover;
        text-decoration: none;
        cursor: pointer;
    }

    &.disabled {
        cursor: default;
        pointer-events: none;
    }

    @if $area-back-to-top == true {
        &.back-to-top {
            background-color: rgba($color-black,0.3);
            color: $color-white;
            width: 2em;
            height: 2em;
            display: flex;
            align-items: center;
            justify-content: center;
            position: fixed;
            right: 1.5em;
            bottom: 1em;
            transition: all $transition-fast $transition-easing;

            &:hover {
                background-color: $color-primary;
            }
            i, svg {
                display: flex;
                width: 1em;
                height: 1em;
            }
        }
    }

    @if $area-social-colors {
        // Social colors
        &[href^="https://www.facebook.com/"] {
            background-color: $color-facebook;
        }
        &[href^="https://www.twitter.com/"] {
            background-color: $color-twitter;
        }
        &[href^="https://www.linkedin.com/"] {
            background-color: $color-linkedin;
        }
    }
}
