// -----------------------------------------------------------------------------
/*! =CSS Grid layout */
// -----------------------------------------------------------------------------

/* EXAMPLE - https://jobs.jobvite.com/rackspace/jobs/culture
    <div class="grid">
        <div class="cta-box col-1 row-1 col-1-md row-1-md">

        </div>
        <div class="spacer"></div>
        <div class="cta-box col-2 row-2 col-2-md row-2-md">

        </div>
        <div class="cta-box col-1 row-3 col-4-md row-1-md">

        </div>
        <div class="cta-box col-2 row-3 col-4-md row-2-md">

        </div>
    </div>
*/
// *Spacer* class does nothing

.grid {
    $max: 6;
    display: -ms-grid;
    -ms-grid-rows: auto auto auto auto auto auto;
    -ms-grid-columns: 1fr 1fr;
    display: grid;
    grid-template: auto auto auto auto auto auto / 1fr 1fr;
    transition: all $transition-normal $transition-easing;

    @for $i from 1 through $max {
        .col-#{$i} {
            @include ie-grid-col($i);
        }

        .row-#{$i} {
            @include ie-grid-row($i);
        }
    }

    .grid-item {
        @include flex-col;
        @include flex-m-center;
        @include flex-c-center;
        flex: 1 1 auto;
        height: 100%;
    }
}

// /* Small devices (tablets, #{$screen-sm-px} and up) */
// @media all and (min-width:$screen-sm-em) {
//
// }
@if $mobile == false {

    /* Medium devices (desktops, #{$screen-lg-px} and up) */
    @media all and (min-width:$screen-md-em) {
        .grid {
            -ms-grid-rows: auto auto;
            -ms-grid-columns: 1fr 1fr 1fr;
            grid-template: auto auto / 1fr 1fr 1fr;

            @for $i from 1 through $max {
                &.col-md-#{$i} {
                    @include ie-grid-col($i);
                }

                &.row-md-#{$i} {
                    @include ie-grid-row($i);
                }
            }
        }
    }

    /* Large devices (large desktops, #{$screen-lg-px} and up) */
    @media all and (min-width: $screen-lg-em) {
        .grid {
            -ms-grid-rows: auto;
            -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template: auto / 1fr 1fr 1fr 1fr 1fr 1fr;

            @for $i from 1 through $max {
                &.col-lg-#{$i} {
                    @include ie-grid-col($i);
                }

                &.row-lg-#{$i} {
                    @include ie-grid-row($i);
                }
            }
        }
    }

}
// End Desktop