// @import "_variables";

// -----------------------------------------------------------------------------
// =Flex Object
// -----------------------------------------------------------------------------
// m = main axis
// w = wrap or space along cross axis
// c = cross axis alignment
// self = align-self

@mixin flex {
    display: flex;
    min-width: 0;
    min-height: 0;
}
@mixin flex-inline { display: inline-flex }

@mixin flex-auto { flex: 1 1 auto }
@mixin flex-grow { flex: 1 0 auto }
@mixin flex-static { flex: 0 0 auto }
@mixin flex-none { flex: none }

@mixin flex-first { order: -1; }
@mixin flex-last  { order: 99999; }
@mixin flex-order($i) { order: $i;}

// -----------------------------------------------------------------------------
// This defines the main axis
@mixin flex-col  { @include flex; flex-direction: column }
@mixin flex-row  { @include flex; flex-direction: row }

@mixin flex-wrap      { flex-wrap: wrap }
@mixin flex-nowrap    { flex-wrap: nowrap }

// -----------------------------------------------------------------------------
// This defines the alignment along the main axis.
@mixin flex-m-start         { justify-content: flex-start } // Default
@mixin flex-m-space-around  { justify-content: space-around }
@mixin flex-m-space-between { justify-content: space-between }
@mixin flex-m-end           { justify-content: flex-end }
@mixin flex-m-center        { justify-content: center }

// -----------------------------------------------------------------------------
// This aligns a flex container's lines within when there is extra space in
// the cross-axis, similar to how justify-content aligns individual items
// within the main-axis.
// w = wrap or space along cross axis
@mixin flex-w-stretch  { align-content: stretch } // Default
@mixin flex-w-center   { align-content: center }
@mixin flex-w-start    { align-content: flex-start }
@mixin flex-w-end      { align-content: flex-end }
@mixin flex-w-around   { align-content: space-around }
@mixin flex-w-between  { align-content: space-between }

// -----------------------------------------------------------------------------
// This defines the default behaviour for how flex items are laid out along the
// cross axis on the current line.
// c = cross
@mixin flex-c-center    { align-items: center }
@mixin flex-c-baseline  { align-items: baseline }
@mixin flex-c-stretch   { align-items: stretch } // Default
@mixin flex-c-start     { align-items: flex-start }
@mixin flex-c-end       { align-items: flex-end }

// -----------------------------------------------------------------------------
// This allows the default alignment (or the one specified by align-items) to
// be overridden for individual flex items. Overrides main-axis alignment.
@mixin flex-self-start    { align-self: flex-start }
@mixin flex-self-end      { align-self: flex-end }
@mixin flex-self-center   { align-self: center }
@mixin flex-self-stretch  { align-self: stretch }
@mixin flex-self-baseline { align-self: baseline }
@mixin flex-self-auto     { align-self: auto }
